* {
  box-sizing: border-box;
}

:root {
  --button1: #750694;
  --button2: #8507a8;
  --border1: #ac13d6;
  --border2: #57056e;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://i.pinimg.com/1200x/85/93/aa/8593aa4b03478c7b1b3846c451b1ec52.jpg);
  background-size: cover;
  color: linen;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 50px 0 80px 0;
  font-size: 2.5em;
}

label, input, button {
  display: block;
  margin: 15px auto;
}

label {
  text-align: center;
  font-size: 1.2em;
}

input {
  text-align: center;
  font-size: 1.3em;
  height: 1.6em;
}

button {
  font-size: 1.2em;
  height: 1.5em;
  color: linen;
  background-color: var(--button1);
  border: 3px solid;
  border-color: var(--border1) var(--border2) var(--border2) var(--border1);
}

button:hover {
  background-color: var(--button2);
}

button:active {
  border-color: var(--border2) var(--border1) var(--border1) var(--border2);
}

#note {
  text-align: justify;
  width: 500px;
  margin: 10px auto 30px auto;
}

#pokemon-card {
  margin: 20px auto;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 0 0 #9b989c, 0 0 20px 5px white;
  padding: 30px;
}

#pokemon-info {
  width: 440px;
  height: 250px;
  border: 3px solid var(--border1);
  background-image: linear-gradient(#ffffffed, #ffffffed), url(https://i.pinimg.com/1200x/3a/6b/bc/3a6bbc84a841a889356e1f0d6ee5ba4e.jpg);
  background-size: 280px 280px;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#creature-name, #creature-id {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 10px;
}

#weight, #height {
  display: inline-block;
  margin-right: 10px;
}

#special {
  margin-top: 10%;
}

#special p {
  margin: 0;
}

#special-title {
  font-size: 1.6em;
  font-weight: bold;
}

#types {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.type {
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
  height: 1.5em;
  color: linen;
}

#logo {
  object-fit: cover;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 5px;
}

th, td {
  background-color: var(--border1);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  height: 2.3em;
}

#bug {
  background-color: #2f573f;
}

#dark {
  background-color: #4b4f4d;
}

#dragon {
  background-color: #1cadb0;
}

#electric {
  background-color: #b5db39;
}

#fairy {
  background-color: #c41b67;
}

#fighting {
  background-color: #d98729;
}

#fire {
  background-color: #de182c;
}

#flying {
  background-color: #4574b5;
}

#ghost {
  background-color: #7531b5;
}

#grass {
  background-color: #46ab6d;
}

#groung {
  background-color: #63390c;
}

#ice {
  background-color: #7fcce3;
  color: black;
}

#normal {
  background-color: #8a4a72;
}

#poison {
  background-color: #850774;
}

#psychic {
  background-color: #e817a6;
}

#rock {
  background-color: #915f2a;
}

#steel {
  background-color: #479175;
}

#water {
  background-color: #3086db;
}